[submodule "datasrc/languages"]
	path = datasrc/languages
	url = git://github.com/teeworlds/teeworlds-translation.git
	branch = master
[submodule "datasrc/maps"]
	path = datasrc/maps
	url = git://github.com/teeworlds/teeworlds-maps.git
	branch = master
