*.orig
*.exe
*.rej
.bam
.settings
src/game/generated
objs
datasrc/*.pyc
config.lua
Debug
teeworlds_d*
teeworlds_srv_d*
bam
build server.bat
autoexec.cfg
teeworlds
bam.exe
*.bat
teeworlds_d
teeworlds_srv_d
DDRace*
DDRace-Server*
.cproject
.project
*.dtb
*.log
*.exe
*.res
*.dll
*.patch
*.prefs
*.lnk
*.pdb
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.user
*.cmd
