.bam
src/game/generated
objs
datasrc/*.pyc
config.lua

teeworlds_d*
teeworlds_srv_d*
bam*
build server.bat
buildlog.txt
autoexec.cfg
teeworlds
bam.exe
*.bat
teeworlds_d
teeworlds_srv_d
DDRace_Trunk*
DDRace_Trunk_d*
.cproject
.project
*.dtb
*.log
*.exe

/Debug/makefile
/Debug/objects.mk
/Debug/sources.mk
/Debug/src/base/subdir.mk
/Debug/src/engine/client/subdir.mk
/Debug/src/engine/external/pnglite/subdir.mk
/Debug/src/engine/external/wavpack/subdir.mk
/Debug/src/engine/external/zlib/subdir.mk
/Debug/src/engine/server/subdir.mk
/Debug/src/engine/shared/subdir.mk
/Debug/src/game/client/components/subdir.mk
/Debug/src/game/client/subdir.mk
/Debug/src/game/editor/subdir.mk
/Debug/src/game/server/entities/subdir.mk
/Debug/src/game/server/gamemodes/subdir.mk
/Debug/src/game/server/subdir.mk
/Debug/src/game/subdir.mk
/Debug/src/mastersrv/subdir.mk
/Debug/src/tools/subdir.mk
/Debug/src/versionsrv/subdir.mk