.bam
src/game/generated
objs
datasrc/*.pyc
config.lua
teeworlds_d
teeworlds_srv_d
Debug
teeworlds_d*
teeworlds_srv_d*
bam
build server.bat
buildlog.txt
autoexec.cfg
teeworlds
bam.exe
*.bat
DDRace_Trunk*
DDRace_Trunk_d*
.cproject
.project
*.dtb
*.log
*.exe
*.res
*.dll
*.patch
*.prefs
*.lnk
*.pdb
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.user
*.cmd
.settings

