body {
	margin-top: 0px;
	background-image: url(gfx/sun_bg.png);
	background-repeat: no-repeat;
	background-color: #82CDFF;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

	color: #666666;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
}

div#outer
{
	margin-left: auto;
	margin-right: auto;
	width: 820px;
}

.page_header {
	margin-top: 0px;
	background-image: url(gfx/top_logo_sun.png);
	background-repeat: no-repeat;
	padding-left: 370px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.page_body_top {
	background: url(gfx/main_bg_sun_top.png) no-repeat top left;
	height: 40px;
}

.page_body {
	background: url(gfx/main_bg_sun.png) repeat-y top left;
	height: auto;
	padding-top: 40px;
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 40px;
}


.page_image {
	margin-left: 30px;
	float: right;
}

.topic {
	font-size: 18px;
	color: #627E27;
	font-weight: bold;
}


.subtopic {
	font-size: 14px;
	color: #627E27;
}

.normal {
	font-size: 12px;
}

.date {
	color: #666666;
	font-size: 12px;
	line-height: 20px;
	font-style: italic;
	font-weight: normal;
}


.sign {
	color: #666666;
	font-size: 12px;
	line-height: 20px;
	font-style: italic;
	text-align: right;
}


a:link {
	color: #333333;
}
a:visited {
	color: #333333;
}
a:hover {
	color: #333333;
}
a:active {
	color: #333333;
}

a:link img {
	border: none;
}

a:visited img {
	border: none;
}

a:hover img {
	border: none;
}
