body {
	margin-top: 0px;
	background-image: url();
	background-repeat: repeat;
	background-color: #82CDFF;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.brod {
	color: #666666;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
}
.style6 {
	font-size: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #627E27;
	font-weight: bold;
}
.style9 {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	color: #627E27;
	font-weight: bold;
}
a:link {
	color: #333333;
}
a:visited {
	color: #333333;
}
a:hover {
	color: #333333;
}
a:active {
	color: #333333;
}
.style11 {
	color: #999999;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.style16 {color: #666666; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 20px; font-style: italic; }
.style19 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #627E27; font-size: 14px;}
.style20 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
}