const array:int sound = sounds.*
const array:int weapon = weapons.*
const array:int powerup = powerups.*

struct weapon {
	int firedelay = firedelay@1
	int meleedamage = meleedamage@1
	int meleereach = meleereach@1
	int ammoregentime = ammoregentime@1
	int maxammo = maxammo@1
	int costammo = costammo@1
	int duration = duration@1
	int movetime = movetime@1
	int velocity = velocity@1
}

struct powerupinf {
	int amount = amount@1
	int respawntime = respawntime@1
	int startspawntime = startspawntime@1
}

struct data_container {
	array:weapon weapons = weapons.*
	array:powerupinf powerupinfo = powerups.*
}
