name: macOS
on:
  # Trigger the workflow on push,
  # but only for the master branch
  push:
    branches: 
      - master
jobs:
  build_mac:
    name: Build macOS
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@master
      - name: Prepare
        run: |
          brew install freetype sdl2
          git submodule update --init
      - name: Build Bam
        run: |
          git clone https://github.com/matricks/bam.git ~/bam
          cd ~/bam/
          git reset --hard f012dd9a3e38295b8a45af5a101d29573381f169
          ./make_unix.sh
      - name: Build Teeworlds with Bam in Release mode
        run: |
          ~/bam/bam conf=release all
          ./teeworlds_srv shutdown
      - name: Build Teeworlds with Bam in Debug mode
        run: |
          ~/bam/bam conf=debug all
          ./teeworlds_srv shutdown
      - name: Build Teeworlds with cmake in Release mode
        run: |
          mkdir build_release
          cd build_release
          cmake -Werror=dev -DDOWNLOAD_GTEST=ON ..
          make everything
          make run_tests
          cd ..
      - name: Build Teeworlds with cmake in Debug mode
        run: |
          mkdir build_debug
          cd build_debug
          cmake -Werror=dev -DDOWNLOAD_GTEST=ON -DDEV=ON ..
          make everything
          make run_tests
          cd ..
      - name: Test cmake release
        run: |
          cd build_release
          ./teeworlds_srv shutdown
          cd ..
      - name: Test cmake debug
        run: |
          cd build_debug
          ./teeworlds_srv shutdown
          cd ..
      - name: Test Bam release
        run: |
          ./build/x86_64/release/teeworlds_srv shutdown
      - name: Test Bam debug
        run: |
          ./build/x86_64/debug/teeworlds_srv shutdown
